body {
  font-family: Helvetica;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 15px;
  background: #3F1C2D;
}

nav > a {
  margin: 10px;
  color: #C4AA1F;
  opacity: 0.6;

}

nav > a:first-child {
  opacity: 1.0;
}

main {
  flex-grow: 5;
  flex-shrink: 5;
  background: #717B4A;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
  padding-left: 20px;
}

section > p {
  max-width: 570px;
}

#container {
  display: flex;
  flex-direction: row;
  min-height: 600px;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

}