h1 {
 color: #A62E44;
 margin-top: 0px;
 margin-bottom: 0px;
 font-family: 'Roboto Slab', serif
}

h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 400;
}

a {
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', serif;
}

.small {
  font-size: small;
}
