h2 {
  margin: 0px;
}

form {
  min-height: 220px;
  font-size: 18px;
}

label {
  float: left;
  width: 5em;
  text-align: right;
}

input, select {
  width: 320px;

}

input {
  border-radius: 5px;
}

.submit-form {
  padding: 10px;
  margin-top: 20px;
}

.form-group {
  padding: 10px;
}

.small {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  label {
    text-align: left;
    padding-bottom: 5px;
  }
  .form-group {
    padding: 10px 0px 10px 0px;
  }
  
  input, select {
    width: 100%;
  }

}

.modal-container {
  z-index: 2;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 25px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  overflow: auto;
  display: none;
  justify-content: center;
  align-items: center;
}
