body {
  margin: 0px;
}

h1 {
 color: #A62E44;
 margin-top: 70px;
 margin-bottom: 0px;
 font-family: 'Roboto Slab', serif
}

h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h2.form-header {
  font-weight: 400;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  width: 95%;
  min-height: 220px;

  font-size: 18px;  
}

.modal-container {
  z-index: 2;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 25px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

label {
  float: left;
  text-align: left;
  margin-right: 20px;
  width: 375px;
  font-family: 'Roboto';
}

span {
  vertical-align: middle;
}

input {
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  margin-left: 15px;
  width: 80%;
  max-width: 250px;
  font-size: 16px;
  font-family: 'Roboto';
}

input.contact-submit:hover {
  opacity: 0.7;
}

select {
  max-width: 255px;
  width: 80%;
  height: 34px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 10px;
}

small {
  width: 360px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.container {
  padding: 40px;
  display: block; 
  margin: 0 auto;
  max-width: 720px
}

.hero {
  text-align: center;
}

.button {
   display: inline-block;
   margin: 0 auto;
   height: 40px;
   width: 120px;
   margin-bottom: 28px;
   padding: 0px 10px 0px 10px;
   background: #00B22E ;
   border: 2px solid rgba(0, 84, 22, 0.59);
   font: bold 1.0em/40px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
   text-align: center;
   color: rgba(0, 84, 22, 0.9);
   text-shadow: 0 2px 2px rgb(255, 255, 255, 0.2);
   background: -webkit-linear-gradient(top, #00B22E , #36A553 );
   background: -moz-linear-gradient(top, #00B22E , #0A6522 );
   background: -o-linear-gradient(top, #00B22E , #0A6522 );
   background: -ms-linear-gradient(top, #00B22E , #0A6522 );
   background: linear-gradient(top, #00B22E , #0A6522 );
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: white;
   box-shadow: 1px 1px #005421 ;
   text-shadow: 1px 0 0 #333333 ;
}

a.button {
  text-decoration: none;
}

/* make lighter than original button */
a.button:hover {
 background: #39BF5C;
 background: -webkit-linear-gradient(top, #39BF5C, #00B22E);
 background: -moz-linear-gradient(top, #39BF5C, #00B22E);
 background: -o-linear-gradient(top, #39BF5C, #00B22E);
 background: -ms-linear-gradient(top, #39BF5C, #00B22E);
 background: linear-gradient(top, #39BF5C, #00B22E);
}

.nav-links {
  display: flex; 
  flex-direction: column; 
  text-align: center;
}

.nav-links a {
  padding: 7px;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  overflow: auto;
  display: none;
  justify-content: center;
  align-items: center;
}


