---
layout: default
---
<div class="col-xs-12" style="background-color: #FFF5E7;">
  <div class="post col-sm-offset-1 col-sm-10" style="background-color: #FFF5E7;">
      <header class="post-header" style="padding-top: 40px;">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <article class="post-content">
        {{ content }}
      </article>
  </div>
</div>
