---
title: MGLobel
---
#app
  = partial 'shared/contact_form'
  .container
    .hero
      %h1
        MGLOBEL
      %h2
        Hand-crafted business technology.
      %a.button{:href => "#", "v-on:click" => "openModal"} GET STARTED
    %nav
      %ul
        %li
          = link_to 'Experience', 'experience'
        %li
          %a{:href => "https://www.linkedin.com/in/michaelglobel", :target => "_blank"} LinkedIn
        %li
          %a{:href => "https://github.com/mglobel/", :target => "_blank"} Github
        %li
          %a{:href => "https://twitter.com/ringmylobel", :target => "_blank"} Twitter
        %li
          %a{:href => "http://hypem.com/LobasaurusRex", :target => "_blank"} Jams

:javascript
  new Vue({
    el: '#app',
    data: {
      displayForm: 'none'
    },
    ready: function() {
      if(window.location.hash == '#contact-form') {
        this.$set('displayForm', 'block')
      }
    },
    methods: {
      openModal: function () {
        this.$set('displayForm', 'block')
      },
      closeModal: function (e) {
        if (e.target.className == 'modal-background') {
          this.$set('displayForm', 'none')
        }
      }
    }
  })