.container
  .hero
    %h1
      MGLOBEL
    %h2
      Thank you for submitting your information.
      %br>/
      I look forward to being in touch.
  %nav
    %ul
      %li
        = link_to 'Experience', 'experience'
      %li
        %a{:href => "https://www.linkedin.com/in/michaelglobel", :target => "_blank"} LinkedIn
      %li
        %a{:href => "https://github.com/mglobel/", :target => "_blank"} Github
      %li
        %a{:href => "https://twitter.com/ringmylobel", :target => "_blank"} Twitter
      %li
        %a{:href => "http://hypem.com/LobasaurusRex", :target => "_blank"} Jams
